backend/API/appsettings.json
backend/API/appsettings.Development.json
backend/API/appsettings.Production.json
backend/API/appsettings.Staging.json

.vscode/
.idea/

Db-backups/
.env

Dokumenti/

**/docker-compose.override.yml
**/docker-compose.dev.yml
**/docker-compose.prod.yml
**/.dockerignore
**/docker-data/