@if (order) {
  <mat-card class="bg-white py-10 px-6 shadow-lg rounded-2xl max-w-4xl mx-auto">
    <div class="w-full">
      <div class="flex justify-between items-center align-middle">
        <h2 class="text-3xl text-center font-bold text-gray-800">Order Summary</h2>
        <p class="text-center text-gray-600 mt-2">Order <strong>#{{ order.id }}</strong></p>
        <button mat-stroked-button routerLink="/orders">Return to orders</button>
      </div>
      <div class="mt-8 py-6 border-t border-gray-300 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="space-y-4">
          <h4 class="text-lg font-bold text-gray-700">Billing & Delivery Information</h4>
          <dl>
            <dt class="text-sm font-bold text-gray-600">Shipping Address</dt>
            <dd class="mt-1 text-gray-800">{{ order.shippingAddress
            | address }}</dd>
          </dl>
          <dl>
            <dt class="text-sm font-bold text-gray-600">Payment Information</dt>
            <dd class="mt-1 text-gray-800">{{ order.paymentSummary | payment }}</dd>
          </dl>
        </div>
        <div class="space-y-4">
          <h4 class="text-lg font-bold text-gray-700">Order Details</h4>
          <dl>
            <dt class="text-sm font-bold text-gray-600">Email Address</dt>
            <dd class="mt-1 text-gray-800">{{ order.buyerEmail }}</dd>
          </dl>
          <dl>
            <dt class="text-sm font-bold text-gray-600">Order Status</dt>
            <dd class="mt-1 text-gray-800">{{ order.status }}</dd>
          </dl>
          <dl>
            <dt class="text-sm font-bold text-gray-600">Order Date</dt>
            <dd class="mt-1 text-gray-800">{{ order.orderDate | date: 'medium' }}</dd>
          </dl>
        </div>
      </div>

      <div class="mt-6 border border-gray-300 rounded-lg overflow-hidden">
        <table class="w-full text-left bg-white">
          <tbody class="divide-y divide-gray-300">
            @for (item of order.orderItems; track item.productId) {
              <tr class="hover:bg-gray-100">
                <td class="p-4 flex items-center gap-4">
                  <img src="{{item.pictureUrl}}" alt="product image" class="w-12 h-12 rounded-md shadow">
                  <span class="text-gray-800">{{ item.productName }}</span>
                </td>
                <td class="p-4 text-gray-700">x{{ item.quantity }}</td>
                <td class="p-4 text-gray-900 text-right">{{ item.price | currency }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="mt-6 bg-gray-50 p-6 rounded-lg border border-gray-300 space-y-4">
        <p class="text-xl font-bold text-gray-900">Order Summary</p>
        <div class="space-y-2">
          <dl class="flex items-center justify-between">
            <dt class="text-sm font-bold text-gray-600">Subtotal</dt>
            <dd class="font-medium text-gray-800">{{ order.subtotal | currency }}</dd>
          </dl>
          <dl class="flex items-center justify-between">
            <dt class="text-sm font-bold text-gray-600">Discount</dt>
            <dd class="font-medium text-green-500">-0,00$</dd>
          </dl>
          <dl class="flex items-center justify-between">
            <dt class="text-sm font-bold text-gray-600">Delivery Fee</dt>
            <dd class="font-medium text-gray-800">{{ order.shippingPrice | currency }}</dd>
          </dl>
        </div>
        <dl class="flex items-center justify-between border-t border-gray-300 pt-4">
          <dt class="text-lg font-bold text-gray-700">Total</dt>
          <dd class="text-lg font-bold text-gray-900">{{ order.total | currency }}</dd>
        </dl>
      </div>
    </div>
  </mat-card>
}
