
<footer class="border-t shadow-md p-3 w-full bg-gray-100 text-gray-600 text-center mt-10">
  <div class="container mx-auto px-4">
    <p class="text-sm">&copy; 2025 MSGames. Sva prava zadržana.</p>
    <nav class="mt-4">
      <ul class="flex justify-center space-x-6">
        <li>
          <a routerLink="/" class="hover:text-gray-800 transition">Početna</a>
        </li>
        <li>
          <a routerLink="/about" class="hover:text-gray-800 transition">O nama</a>
        </li>
        <li>
          <a routerLink="/" class="hover:text-gray-800 transition">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
