<div class="rounded-lg border border-gray-300 bg-white p-4 shadow-sm mb-4">
  <div class="flex items-center justify-between gap-6">

    <a routerLink="/shop/{{item().productId}}" class="flex-shrink-0">
      <img src="{{item().pictureUrl}}" alt="{{ item().name }}" class="h-20 w-20 object-cover rounded">
    </a>

    <div class="flex-1 space-y-1">
      <a routerLink="/shop/{{item().productId}}" class="font-medium text-gray-900 text-lg hover:underline">
        {{ item().name }}
      </a>
      <p class="text-gray-500 text-sm">{{ item().brand }} - {{ item().type }}</p>
    </div>

    <div class="flex items-center gap-3">
      <button mat-icon-button aria-label="Decrease quantity" (click)="decrementQuantity()">
        <mat-icon class="text-red-600">remove</mat-icon>
      </button>

      <div class="font-semibold text-lg text-gray-900">{{ item().quantity }}</div>

      <button mat-icon-button aria-label="Increase quantity" (click)="incementQuantity()">
        <mat-icon class="text-green-600">add</mat-icon>
      </button>
    </div>

    <div class="text-end w-28">
      <p class="font-semibold text-gray-900 text-lg">{{ item().price | currency }}</p>
    </div>

    <div>
      <button mat-button color="warn" class="flex items-center gap-1" (click)="removeItemFromCart()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>
