<div class="max-w-screen-2xl mx-auto px-4 mt-32 relative">
    <div class="relative flex flex-col items-center py-16 justify-center rounded-2xl shadow-xl">
        <!-- Pozadinska slika -->
        <img
            src="https://static.dw.com/image/36915362_906.jpg"
            alt="SkiNet Background"
            class="absolute inset-0 w-full h-full object-cover rounded-2xl">
        
        <!-- Tekst i dugme preko slike -->
        <div class="relative z-10 text-center text-white">
            <h1 class="my-6 font-extrabold text-6xl drop-shadow-lg">
                Welcome
            </h1>
            <button class="bg-gradient-to-r from-blue-600 to-cyan-500 font-semibold text-2xl text-white rounded-2xl px-8 py-4 border-2 border-transparent shadow-lg"
                routerLink="/shop">
                Go to shop
            </button>
        </div>
    </div>
</div>
