<div class="mt-4 w-full">
  <h4 class="text-lg font-semibold">Billing and Delivery Information</h4>
  <dl class="mt-2 space-y-2">
    <div>
      <dt class="font-medium text-gray-700">Shipping Address</dt>
      <dd class="mt-1 text-gray-500">{{confirmationToken?.shipping | address}}</dd>
    </div>
    <div>
      <dt class="font-medium text-gray-700">Payment Details</dt>
      <dd class="mt-1 text-gray-500">{{confirmationToken?.payment_method_preview | payment}}</dd>
    </div>
  </dl>
</div>

<div class="mt-6 mx-auto">
  <div class="border-b border-gray-300">
    <table class="w-full text-left table-auto">
      <thead>
      <tr class="text-sm font-medium text-gray-700">
        <th class="p-4">Product</th>
        <th class="p-4">Quantity</th>
        <th class="p-4 text-right">Price</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @for (item of cartService.cart()?.items; track item.productId) {
          <tr>
            <td class="py-4">
              <div class="flex items-center gap-4">
                <img src="{{item.pictureUrl}}" alt="Product image" class="w-12 h-12 rounded-md">
                <span class="text-gray-800 font-medium">{{item.name}}</span>
              </div>
            </td>
            <td class="p-8 ">x{{item.quantity}}</td>
            <td class="p-4 text-right text-gray-700">{{item.price | currency}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
